.sidebar {
  position: fixed;
  display: flex; /* Use flex for better layout management */
  flex-direction: column;

  top: 20px;
  left: 15px;

  width: 460px;
  height: auto;
  max-height: calc(100vh - 50px);

  z-index: 3;

  overflow: scroll;

  background-color: white;

  padding: 20px;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2);

  border-radius: 10px;
} 

.sidebar-intro {
  /* position: sticky;
  top: 0; */
  z-index: 2; /* Ensures it stays above other content */
  background-color: white; /* Prevents content overlap */
  margin-bottom: 10px; /* Space below intro section */
}

.sidebar hr {
  border: none;
  height: 0.5px;
  background-color: #d0d2ce;
  margin: 10px 0px 15px 0px;
}


.sidebar h1 {
  font-size: 1.6em;
  margin: 0 0 0.5em 0;
}

.sidebar h2 {
  margin-bottom: 0em;
  margin-top: 0.5em;
  font-size: 1.4em;
}

.sidebar p {
  margin: 1em 0em 1em 0em;
}

/* .county-detail-wrapper {
  overflow-y: auto; 
  flex: 1; 
  max-height: calc(90vh - 40px);
} 
*/

.county-detail {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar h3 {
  margin: 0 0 15px 0px;
  font-size: 1.2em;
  font-weight: 600;

  color: #26535C;
}

.county-detail h4 {
  margin: 0 0 10px;
  font-size: .9em;
  font-weight: 600;
}

.county-overview-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0px 20px 0px;
}

.county-overview-table td {
  padding: 8px 0px;
  font-size: 0.9em;
  font-weight: normal;
  color: #555;
  border-top: 1px solid #ddd;
}

.county-overview-table tr:first-child td {
  border-top: none;
}

.county-overview-table td:first-child {
  text-align: left;
}

.county-overview-table td:last-child {
  text-align: right;
}

.county-table {
  width: 100%;
  border-collapse: collapse;
}

.county-table td {
  padding: 8px 0px;
  font-size: 0.9em;
  font-weight: normal;
  color: #555;
  border-top: 1px solid #ddd;
}

.county-table tr:first-child td {
  border-top: none;
}

.county-table td:first-child {
  text-align: left;
}

.county-table td:last-child {
  text-align: right;
}
