*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Bitter", "Montserrat", serif;
}

#map {
  z-index: 1;
}

#map * .mapboxgl-ctrl {
  font-family: "Bitter", serif;
}

.control-panel {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 320px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 12px 24px;
  margin: 20px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  text-transform: uppercase;
  outline: none;
  z-index: 2;
}


.tooltip h4 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: .5em;
  line-height: 1.4;
}

.tooltip p {
  line-height: 1.5;
}

@media (max-width: 700px) {

  #map {
    height: calc(100vh - 200px);
  }

}

